---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Dummy Jobs"
  contact:
    email: "gabbanaesteban@gmail.com"
host: "dummy-jobs-api.estebandelarosa.dev"
basePath: "/"
schemes:
- "https"
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header

paths:
  /signup:
    post:
      tags:
      - "auth"
      summary: "Create a new account"
      description: ""
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
              description: Full name of the user
              example: Jhon Doe
              required: true
            email:
              type: string
              description: Email of the account
              example: foo@bar.com
              required: true
            password:
              type: string
              description: Password of the account
              example: secret
              required: true
      responses:
        201:
          description: successful operation
          schema:
            $ref: "#/definitions/AuthResponse"
        400:
          description: validation failed

  /signin:
    post:
      tags:
      - "auth"
      summary: "Log into an existing account"
      description: ""
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            email:
              type: string
              description: Email of the account
              example: foo@bar.com
              required: true
            password:
              type: string
              description: Password of the account
              example: secret
              required: true
      responses:
        200:
          description: successful operation
        400:
          description: validation failed
        401:
          description: password missmatch
        404:
          description: user not found

  /companies:
    post:
      tags:
      - "company"
      summary: "Create a company for the logged user"
      description: ""
      security:
        - Bearer: []
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
              description: Name of the company
              example: Gabbana
              required: true
            website:
              type: string
              description: Website of the company
              example: Foo
              required: false
            description:
              type: string
              description: Description of the company
              example: Bar
              required: false
      responses:
        201:
          description: successful operation
          schema:
            $ref: "#/definitions/Company"
        400:
          description: validation failed
        401:
          description: invalid token
        404:
          description: user not found

  
  /jobs:
    post:
      tags:
      - "job"
      summary: "Create a job for the user company"
      description: ""
      security:
        - Bearer: []
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: "#/definitions/Job"
      responses:
        201:
          description: successful operation
          schema:
            $ref: "#/definitions/Job"
        400:
          description: validation failed
        401:
          description: invalid token
        404:
          description: user not found
        
definitions:
  AuthResponse:
    type: object
    properties:
      token:
        type: string
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
  
  Company:
    type: object
    properties:
      _id:
        type: string
        example: 5f83e7138744167774f120cd
      name:
        type: string
        example: Gabbana
      website:
        type: string
        example: "http://foo.bar"
      description:
        type: string
        example: null
      owner:
        type: string
        example: 5f83e7138744167774f120cd
  




  Job:
    type: object
    properties:
      title:
        type: string
        description: Title of the job
        example: Backend Developer
        required: true
      type:
        type: string
        enum: [Full-time, Part-time,Freelance, Intership, Temporary]
        description: Type of the job
        example: Full-time
        required: true
      level:
        type: string
        enum: [Beginner,Junior,Mid-level,Senior,Lead,Manager]
        description: Seniority required for the job
        example: Full-time
        required: true
      description:
        type: string
        description: A description for the job. HTML supported.
        example: <h1>Woww!</h1>
        required: true
      application:
        required: true
        type: object
        properties:
          how_to_apply:
            type: string
            description: Steps to apply. HTML supported.
            example: send us a mail!
            required: true
          target_type:
            type: string
            example: email
            enum: [email, ATS]
            required: true
          target:
            type: string
            example: foo@bar.net
            required: true
      compensation:
        required: true
        type: object
        properties:
          currency:
            type: string
            example: USD
            enum: [USD]
            required: true
          min_salary:
            type: string
            description: Min salary. Nullable.
            example: "10000"
            required: false
          max_salary:
            type: string
            description: Max salary. Nullable.
            example: null
            required: false
      location:
        required: true
        type: object
        properties:
          can_be_remote:
            type: boolean
            description: Whether the job can be remote or not
            example: true
            required: true
          remote_only:
            type: boolean
            description: Wheter the job is remote only or not. can_be_remote should be true.
            example: false
            required: true
          address:
            type: string
            example: Santo Domingo, Republica Dominicana
            required: true
