---
swagger: "2.0"
info:
  version: "1.0.0"
  title: "Dummy Jobs"
  contact:
    email: "gabbanaesteban@gmail.com"
host: "dummy-jobs-api.estebandelarosa.dev"
basePath: "/"
schemes:
- "https"
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header

paths:
  /signup:
    post:
      tags:
      - "auth"
      summary: "Create a new account"
      description: ""
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
              description: Full name of the user
              example: Jhon Doe
              required: true
            email:
              type: string
              description: Email of the account
              example: foo@bar.com
              required: true
            password:
              type: string
              description: Password of the account
              example: secret
              required: true
      responses:
        201:
          description: successful operation
          schema:
            $ref: "#/definitions/AuthResponse"
        400:
          description: validation failed

  /signin:
    post:
      tags:
      - "auth"
      summary: "Log into an existing account"
      description: ""
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            email:
              type: string
              description: Email of the account
              example: foo@bar.com
              required: true
            password:
              type: string
              description: Password of the account
              example: secret
              required: true
      responses:
        200:
          description: successful operation
        400:
          description: validation failed
        401:
          description: password missmatch
        404:
          description: user not found

  /companies:
    security:
        - Bearer: []
    post:
      tags:
      - "company"
      summary: "Create a company for the logged user"
      description: ""
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
              description: Name of the company
              example: Gabbana
              required: true
            website:
              type: string
              description: Website of the company
              example: Foo
              required: false
            description:
              type: string
              description: Description of the company
              example: Bar
              required: false
      responses:
        201:
          description: successful operation
          schema:
            $ref: "#/definitions/Company"
        400:
          description: validation failed
        401:
          description: invalid token
        404:
          description: user not found
        

definitions:
  AuthResponse:
    type: object
    properties:
      token:
        type: string
        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
  
  Company:
    type: object
    properties:
      _id:
        type: string
        example: 5f83e7138744167774f120cd
      name:
        type: string
        example: Gabbana
      website:
        type: string
        example: "http://foo.bar"
      description:
        type: string
        example: null
      owner:
        type: string
        example: 5f83e7138744167774f120cd
